It looks like you're trying to create a registration form, but currently, your form elements are placed outside the `<form>` tag. To add a form to your HTML and maintain the visual styling, you can make the following modifications:

    ```html
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../public/styles/loginstyle.css">
        <title>Login</title>
        <link rel="icon" href="../public/svgs/home.svg" type="image/svg+xml">
    </head>
    <body>
        <a href="/" class="btn btn-primary" style="position: absolute; top: 20px; left: 20px;">Voltar</a>
        <div class="main-login">
            <div class="left-login">
                <h1>Realize seu cadastro<br>e entre no sistema!</h1>
                <img src="../public/svgs/bank-count.svg" class="left-login-image" alt="BancoImage">
            </div>
            <div class="right-login">
            </div>
            <div class="card-login">

                <form action="/auth/register" method="POST">

                    <h1>Cadastra-se</h1>
                    
                    <div class="textfield">
                        <label for="usuario">Usuário</label>
                        <input type="text" name="name" placeholder="Usuario">
                    </div>
                    <div class="textfield">
                        <label for="usuario">Email</label>
                        <input type="email" name="email" placeholder="Email" autocomplete="email">
                    </div>
                    <div class="textfield">
                        <label for="senha">Senha</label>
                        <input type="password" name="password" placeholder="Senha">
                    </div>
                    <div class="textfield">
                        <label for="senha">Confirme a senha</label>
                        <input type="password" name="confirmpassword" placeholder="Repita a senha">
                    </div>
                    
                    <button type="submit" class="btn-login">Cadastrar</button>
                    
                </form>
                
            </div>
        </div>
    </body>
</html>