<form action="/add" method="POST">
    <p>Nome:</p>
    <input type="text" name="nome">
    <p>Sobrenome</p>
    <textarea name="sobrenome" id="" cols="30" rows="10"></textarea>
    <p>Idade:</p>
    <input type="text" name="idade">
    <p>Email:</p>
    <input type="text" name="email">
    <p>Concluir:</p>
    <button type = "submit">Cadastrar postagens</button>
</form>