<div class='container mt-5'>
        <div class='row justify-content-center'>
            <div class='col-md-8'>

                <div class='card'>
                
                    <div class='card-body'> 

                            <form action= "/user/transacoes/add" method="POST">
                        
                                <div class="mb-3">
                                    <label for="name" class="form-label">Nome</label>
                                    <input type="text" id = "name" name="name" class="form-control"  placeholder="Nome..">
                                </div>
                                
                                <div class="mb-3">
                                    <label for="description" class="form-label">Descrição</label>
                                    <input type="description" id = "description" name="description" class="form-control" placeholder="Descrição.." required>
                                </div>

                                <div class="mb-3">
                                    <label for="value" class="form-label">Valor</label>
                                    <input id="value" type="value" class="form-control" name="value" placeholder="Valor" required>
                                </div>
                                
                                <button type='submit' class='btn btn-primary'>Adicionar transação</button>

                            </form>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>