<header class="header">
    <a href="#" class="logo">Developer</a>
    <nav class="nav-items">
      <a href="/">Home</a>
      <a href="/admin/users">Usuários</a>
      <a href="/admin/cad">Cadastre-se</a>
      <a href="/login">Login</a>
    </nav>
</header>