<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Navbar</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="container-fluid">

    <ul class="navbar-nav">
      
        <li class="nav-item">
          <a class="nav-link" href="/user/home">Home <span class="sr-only"></span></a>
        </li>

        {{#ifRole user 'admin'}}
        <!-- Código para usuários administradores -->
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">Usuários</a>
        </li>
        {{/ifRole}}
        
        {{#if user}}
        <li class="nav-item">
          <a class="nav-link" href="/user/investimentos">Meus investimentos</a>
        </li>
        {{else}}

          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
          
        {{/if}}
        

    </ul>
    {{#if user}}
      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown ml-auto">
          <a id="navbarDropdown" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.dataValues.name }}
          </a>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/user/profile">
                  Informações pessoais
              </a>
              <a class="dropdown-item" href="/user/logout">
                  Logout
              </a>
          </div>
        </li>

      </ul>
    {{/if}}
  </div>
</nav>
